.call-us {
  @extend .radius;

  display: inline-block;
  padding: 0.5rem 0.5rem;
  background: get-color('quaternary-glare');
  color: get-color('dark-shade');
  border: 2px solid;
  text-decoration: none;
  text-align: center;
  font-size: get-size('400');

  @include apply-utility('font', 'sans');
  @include apply-utility('weight', 'bold');

  &::before {
    content: attr(data-icon);
  }

  // Add a ghost modifier
  &[data-variant='ghost'] {
    background: transparent;
    color: get-color('quaternary-glare');
  }

  @include media-query('md') {
    padding: 0;
    background: none;
    color: get-color('dark-shade');
    border: none;
    font-size: get-size('500');
  }
}
