table {
  padding: get-size('300');
  width: 100%;
  font-size: get-size('300');
  line-height: 1;

  @include media-query('md') {
    padding: get-size('500');
    font-size: get-size('500');
    line-height: 1.5;
  }
}
