<a class="[ skip-link ] [ button ]" href="#main-content">Перейти до контенту</a>
<header role="banner" class="site-head">
  <div class="wrapper">
    <div class="site-head__inner">
      <a
        href="/"
        aria-label="{{ site.name }} - головна"
        class="site-head__brand"
      >
        {% include "partials/brand.svg" %}
      </a>
      <burger-menu max-width="600">
        <nav
          class="[nav] [ site-head__nav ] [ font-sans ]"
          aria-label="primary"
        >
          <ul class="nav__list" role="list">
            {% for item in navigation.items %}
            <li>
              <a href="{{ item.url }}">{{ item.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </burger-menu>
    </div>
  </div>
</header>
